.global-chat {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  width: 15%;
  overflow-y: auto;
  background-color: #cdcdcd;
  color: #e0e0e0;
}

.bbFreaks {
  color: black;
  font-size: 1.4rem;
  font-weight: bold;
  letter-spacing: 2px;
}

.search-bar {
  width: 90%;
  max-width: 400px;
  padding: 5px 10px;
  margin: 10px 0;
  background-color: #2a2a2a;
  border: 1px solid #444;
  border-radius: 15px;
  font-size: 14px;
  color: #e0e0e0;
  height: 40px;
}

.search-bar::placeholder {
  color: #888;
}

.loading,
.no-users {
  color: #aaa;
  font-size: 14px;
}

.user-card {
  padding: 10px;
  margin: 5px;
  width: 85%;
  max-width: 300px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  color: black;
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: flex-start;
  cursor: pointer;
  background-color: white;
  letter-spacing: 1px;
  font-weight: 600;
}

.user-card:hover {
  background-color: #ddd;
}

.user-icon {
  font-size: 1.2rem;
  color: #aaa;
}

.global-chat::-webkit-scrollbar {
  width: 10px;
}

.global-chat::-webkit-scrollbar-track {
  background: #2a2a2a;
}

.global-chat::-webkit-scrollbar-thumb {
  background-color: #444;
  border-radius: 4px;
}

.global-chat::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
