/* Global Chat Display Container */
.global-chat-display {
  width: 85%;
  margin: 0 auto;
  padding: 10px;
  background-image: url("/images/background-chat.jpg");
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Chat Header */
.global-chat-display p {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: #075e54;
  margin: 10px 0;
}

/* Messages Container */
.messages-container {
  flex: 1;
  overflow-y: auto;
  margin-bottom: 20px;
  padding-right: 10px;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
}

/* Message Bubble */
.message {
  max-width: 70%;
  margin-bottom: 15px;
  padding: 5px 15px;
  border-radius: 17px;
  position: relative;
  font-size: 14px;
  word-wrap: break-word;
  display: inline-block;
  background-color: #ffffff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.message.self {
  align-self: flex-end;
  background-color: #dcf8c6;
}

.message.other {
  align-self: flex-start;
  background-color: #ffffff;
}

.message strong {
  font-weight: bold;
  color: #075e54;
}

.message span {
  position: absolute;
  bottom: 3px;
  right: 5px;
  font-size: 10px;
  color: #999;
}

/* Input Area */
.message-input {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 6px;
}

textarea {
  width: 85%;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #ddd;
  font-size: 17px;
  resize: none;
  outline: none;
  background-color: #e7e7e7;
  color: black;
}

.send-button {
  border: none;
  background: none;
  color: #e7e7e7;
  cursor: pointer;
  font-size: 35px;
}

.send-button:focus {
  outline: none;
}

/* Error & Loading */
.loading,
.error {
  text-align: center;
  font-size: 16px;
  color: #ff5733;
}
